.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    color: #000000;
}

.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    color: #000000;
}