@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

body{
    margin: 0px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Lexend Giga", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #000000;
    background-color: #D9D9D9;
    width: 100%;
    height: 65px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Laila", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #000000;
    background-color: #D9D9D9;
    width: 100%;
    height: 45px;
}

.intro {
    display: flex;
    flex: row;
    background-color: #CDB190;
}

.Importância {
    background-color: #7BA448;
}

.autores {
    background-color: #47670a;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Laila", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #000000;
}

.joão {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Laila", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #000000;
    margin-inline-end: 195px;
}

.gustavo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Laila", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #000000;
    margin-inline-start: 160px;
}

#foto {
    width: 20%;
    margin: 0px;
    align-self: center;
}

#foto2 {
    width: 35%;
    margin: 0px;
    align-self: center;
}

#foto3 {
    width: 15%;
    margin: 0px;
    margin-inline-end: 80px;
}

#foto4 {
    width: 15%;
    margin: 0px;
    margin-inline-start: 80px;
}

.margem {
    padding: 10px;    
}

.autor {
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
}